p {
    color: deepskyblue;
}
body {
     background-image:url("https://4.bp.blogspot.com/-jZqbRb_dl-M/WkwbjZ2RItI/AAAAAAAIoe4/T47Mqsq46CskPqi0YtJF7HIc_SBpHXMTgCLcBGAs/s1600/010.jpg")
     background-color: honeydew;
}